<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0>
    <meta http-equiv=" X-UA-Compatible content="ie=edge">
    <link rel="icon" type="image/png" href="{{ asset("img/favicon.png") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("CSS/main.css") }}">
    <link href="https://fonts.googleapis.com/css2?family=Ribeye&display=swap" rel="stylesheet">
    <title>{% block title %} Bucket List {% endblock %}</title>
</head>
<body>
<div class="container">

    <header>{% block header %}
            <nav class="navbar">

                <input type="button" onclick=window.location.href="{{ path('home') }}" value="Home"/>
                <input type="button" onclick=window.location.href="{{ path('aboutus') }}" value="About Us"/>
                <input type="button" onclick=window.location.href="{{ path('idea_list') }}" value="Liste des idées"/>
                {% if (app.user) %}
                    <input type="button" onclick=window.location.href="{{ path('add_idea') }}"
                           value="Ajouter une idée"/>
                    <input type="button" onclick=window.location.href="{{ path('app_logout') }}"
                           value="Logout ({{ app.user.username }})"/>
                {% else %}
                    <input type="button" onclick=window.location.href="{{ path('user_register') }}" value="Register"/>
                    <input type="button" onclick=window.location.href="{{ path('app_login') }}" value="Login"/>
                {% endif %}

            </nav>
            <div class="entete">
                <img width="100px" src="{{ asset('img/anthony.png') }}">
                <h1>Je suis mauvais</h1>
                <img width="100px" src="{{ asset('img/anthony.png') }}">
            </div>
        {% endblock %}</header>

    {% block messages %}
        {% for label,messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}
    {% endblock %}

    <main> {% block main %}

        {% endblock %}</main>
    <footer>{% block footer %}
            &copy;Bucket-List {{ "now"|date("Y") }}
            <br/>
            By Fabián Alexis (<a href="https://github.com/fabianalexisinostroza/Antu">GitHub</a>)
                                                                                                [<a
                    href="https://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>],
            <a href="https://commons.wikimedia.org/wiki/File%3AAntu_color-fill.svg">via Wikimedia Commons</a>
        {% endblock %}</footer>

</div>


</body>
</html>